.ActionButtonsBlock_root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.ActionButtonsBlock_primary,
.ActionButtonsBlock_secondary,
.ActionButtonsBlock_success,
.ActionButtonsBlock_danger,
.ActionButtonsBlock_disabled {
  display: inline-flex;
  height: 1.75rem;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  border-radius: 0.375rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding: 0 1rem;
}

.ActionButtonsBlock_primary {
  background: rgb(37 99 235);
  color: white;
}

.ActionButtonsBlock_secondary {
  background: rgb(209 213 219);
  color: rgb(31 41 55);
}

.ActionButtonsBlock_success {
  background: rgb(22 163 74);
  color: white;
}

.ActionButtonsBlock_danger {
  background: rgb(220 38 38);
  color: white;
}

.ActionButtonsBlock_disabled {
  background: rgb(75 85 99);
  color: rgb(209 213 219);
}
