.MessageActions_root {
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(64 64 64);
  border-radius: 0.5rem;
  background: rgb(38 38 38);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
}

.MessageActions_timestamp {
  border-right: 1px solid rgb(64 64 64);
  color: rgb(163 163 163);
  font-size: 12px;
  line-height: 1rem;
  padding: 0.375rem 0.75rem;
  white-space: nowrap;
}

.MessageActions_root button {
  display: flex;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  color: rgb(212 212 212);
  padding: 0;
  transition: background 150ms ease, color 150ms ease;
}

.MessageActions_root button:hover {
  background: rgb(64 64 64);
  color: rgb(245 245 245);
}
