.ThreadChatCanvas_root {
  display: flex;
  height: 100%;
  min-height: 0;
  flex-direction: column;
  overflow: hidden;
  background: transparent;
}

.ThreadChatCanvas_messagesWrapper {
  position: relative;
  min-height: 0;
  flex-grow: 1;
  overflow: hidden;
}

.ThreadChatCanvas_messagesScroller {
  height: 100%;
  overflow: hidden;
}

.ThreadChatCanvas_messagesContent {
  width: 75%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0.5rem 0 2rem;
}
