.NotesRightRail_title {
  margin-bottom: 24px;
  color: rgb(245 245 245);
  font-size: 16px;
}

.NotesRightRail_item,
.NotesRightRail_activeItem {
  border-radius: 0.375rem;
  color: rgb(163 163 163);
  font-size: 16px;
  padding: 10px 12px;
}

.NotesRightRail_activeItem {
  background: rgb(82 82 82);
  color: white;
}

