.CodeFeaturePanel_root {
  display: flex;
  height: 100%;
  min-height: 0;
  flex-direction: column;
  background: rgb(23 23 23);
}

.CodeFeaturePanel_content {
  min-height: 0;
  flex: 1;
  overflow: hidden;
}
