.DatabaseGraphCanvas_root {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(23 23 23);
}

.DatabaseGraphCanvas_schemaPanel {
  position: relative;
  flex-shrink: 0;
  width: 280px;
  overflow: hidden;
  border-right: 1px solid rgb(38 38 38);
  background: rgb(38 38 38);
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.DatabaseGraphCanvas_main {
  display: flex;
  min-width: 0;
  flex: 1;
}

.DatabaseGraphCanvas_queryPanel {
  position: relative;
  width: 50%;
  overflow: hidden;
  background: rgb(38 38 38);
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.DatabaseGraphCanvas_graphPanel {
  min-width: 0;
  flex: 1;
  overflow: hidden;
  background: rgb(38 38 38);
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}

.DatabaseGraphCanvas_resizeHandle {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  cursor: col-resize;
}

.DatabaseGraphCanvas_resizeHandle:hover {
  background: rgb(59 130 246 / 20%);
}

.DatabaseGraphCanvas_resizeHandle div {
  position: absolute;
  inset-block: 0;
  right: 0;
  width: 16px;
  margin-right: -8px;
}
