.DatabaseResultsTable_root {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  background: rgb(38 38 38 / 20%);
}

.DatabaseResultsTable_tableContainer {
  min-height: 0;
  flex: 1;
  overflow: auto;
  scrollbar-color: rgb(155 155 155 / 30%) transparent;
  scrollbar-width: thin;
}

.DatabaseResultsTable_tableWrap {
  min-width: 100%;
}

.DatabaseResultsTable_table {
  min-width: 100%;
  border-collapse: collapse;
}

.DatabaseResultsTable_table thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background: rgb(23 23 23);
}

.DatabaseResultsTable_table th {
  background: rgb(23 23 23);
  border-bottom: 1px solid rgb(38 38 38);
  color: rgb(163 163 163);
  padding: 8px 16px;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.DatabaseResultsTable_table tbody {
  background: rgb(38 38 38 / 20%);
}

.DatabaseResultsTable_table tr {
  border-bottom: 1px solid rgb(38 38 38);
}

.DatabaseResultsTable_table tbody tr:hover {
  background: rgb(64 64 64 / 30%);
}

.DatabaseResultsTable_table tbody tr {
  cursor: pointer;
}

.DatabaseResultsTable_table td {
  color: rgb(245 245 245);
  padding: 8px 16px;
  font-size: 14px;
}

.DatabaseResultsTable_table td div {
  max-width: 320px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
