.LogsSurface_root {
  display: grid;
  height: 100%;
  min-height: 0;
  grid-template-columns: 240px minmax(0, 1fr);
  background: rgb(18 18 18);
}

.LogsSurface_main {
  display: grid;
  min-width: 0;
  min-height: 0;
  grid-template-rows: auto minmax(0, 1fr);
}
