.LibrarySidebar_root {
  height: 100%;
  overflow: hidden;
  border-right: 1px solid rgb(38 38 38);
  background: rgb(23 23 23);
  padding: 0.5rem;
}

.LibrarySidebar_header {
  padding: 0.5rem 0.5rem 0.75rem;
  color: rgb(229 229 229);
  font-size: 0.8125rem;
  font-weight: 500;
}

.LibrarySidebar_item {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  border-radius: 0.375rem;
  padding: 0.4375rem 0.5rem;
  color: rgb(163 163 163);
  font-size: 0.8125rem;
}

.LibrarySidebar_active {
  background: rgb(64 64 64);
  color: white;
}

.LibrarySidebar_count {
  color: rgb(115 115 115);
  font-size: 0.6875rem;
}
